{% extends "material/base.html" %}

{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<nav class="blue lighten-2">
    <div class="nav-wrapper">
      <a href="{{url_for('core.index')}}" class="brand-logo"><i class="tiny material-icons left">home</i>Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('core.info')}}" ><i class="tiny material-icons left">info</i>About Us</a></li>        
        {% if current_user.is_authenticated %}
          <li><a href="{{url_for('blog_posts.create_post')}}"><i class="tiny material-icons left">add</i>Create</a></li>
          <li><a href="{{url_for('users.account')}}"><i class="tiny material-icons left">account_circle</i>Account</a></li>
          <li><a href="{{url_for('users.logout')}}"><i class="tiny material-icons left">logout</i>Logout</a></li>
        {% else %}
          <li><a href="{{url_for('users.login')}}"><i class="tiny material-icons left">login</i>Login</a></li>
          <li><a href="{{url_for('users.signup')}}"><i class="tiny material-icons left">how_to_reg</i>Signup</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>

  <section class="grey lighten-4">
    <h1>Error 404 : Not Found </h1>
    <h2>You sure you want to visit this page?</h2>
  </section>

  {% endblock %}