{% extends "material/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/user_blog_posts.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/account.css')}}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<nav class="blue lighten-2">
    <div class="nav-wrapper">
      <a href="{{url_for('core.index')}}" class="brand-logo"><i class="tiny material-icons left">home</i>Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('core.info')}}" ><i class="tiny material-icons left">info</i>About Us</a></li>        
        {% if current_user.is_authenticated %}
          <li><a href="{{url_for('blog_posts.create_post')}}"><i class="tiny material-icons left">add</i>Create</a></li>
          <li><a href="{{url_for('users.account')}}"><i class="tiny material-icons left">account_circle</i>Account</a></li>
          <li><a href="{{url_for('users.logout')}}"><i class="tiny material-icons left">logout</i>Logout</a></li>
        {% else %}
          <li><a href="{{url_for('users.login')}}"><i class="tiny material-icons left">login</i>Login</a></li>
          <li><a href="{{url_for('users.signup')}}"><i class="tiny material-icons left">how_to_reg</i>Signup</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>

<div class="card">
    <div class="card-content">
    <div class="row">
    	<div class="col s3">
      	<img class="responsive-img circle" src="{{url_for('static',filename='profile_pics/' + current_user.profile_image)}}">
      </div>
      <div class="col s9">
      	<h1>Welcome {{current_user.username}} </h1>
      </div>
    </div>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#info">User Info</a></li>
        <li class="tab"><a href="#edit">Edit Info</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="info">
      	<p>Username : {{current_user.username}}</p>
      	<p>Email : {{current_user.email}}</p>
      </div>
      <div id="edit">
      	<form class="col s12" method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          {{ form.email(id='email',type='email',class='validate') }}
          <label for="title">Title</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          {{ form.username(id='username',type='text',class='validate') }}
          <label for="title">Username</label>
        </div>

        
        <!-- <div class="file-field input-field col s12">
	      <div class="btn">
	        <span>Upload <i class="material-icons right">upload</i></span>
	        <input type="file">
	        {{ form.picture(type='file') }}
	      </div>
	      <div class="file-path-wrapper col s12">
	        <input class="file-path validate" type="text">
	        {{ form.picture(class='file-path validate',type='text') }}
	      </div>
    	</div> -->
      <div class="row">
       <div class='file file--upload col s12'>
          <label for='input-file'>
            <i class="material-icons">cloud_upload</i>Upload
          </label>
          <!-- <input id='input-file' type='file' /> -->
          
          {{ form.picture(id='input-file',type='file') }}
        </div>
    	</div>
    </div>

        <div class="col s2 offset-s5">
          
          <button class="btn waves-effect waves-light large" type="submit" name="update_value" value="update">Update<i class="material-icons right">update</i> </button>
        </div> 
        </div>
    </form>
      </div>
      
    </div>
  </div>

  <footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Blog's Heaven</h5>
                <p class="grey-text text-darken-1">A blogging site for everybody.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-darken-1" href="{{url_for('core.index')}}"><i class="tiny material-icons left">home</i>Home</a></li>
                  <li><a class="grey-text text-darken-1" href="{{url_for('core.info')}}"><i class="tiny material-icons left">info</i>About us</a></li>
                  {% if current_user.is_authenticated %}
                    <li><a class="grey-text text-darken-1" href="{{url_for('users.account')}}"><i class="tiny material-icons left">account_circle</i>Account</a></li>
                  {% else %}
                    <li><a class="grey-text text-darken-1" href="{{url_for('users.login')}}"><i class="tiny material-icons left">login</i>Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright black-text white">
            <div class="container">
            © 2022 Copyright
            </div>
          </div>
        </footer>


{% endblock %}