{% extends "material/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_blog_posts.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<nav class="blue lighten-2">
    <div class="nav-wrapper">
      <a href="{{url_for('core.index')}}" class="brand-logo"><img src="{{url_for('static',filename='/images/logo.png')}}"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li><a href="{{url_for('core.info')}}" ><i class="tiny material-icons left">info</i>About Us</a></li>        
        {% if current_user.is_authenticated %}
        	<li><a href="{{url_for('blog_posts.create_post')}}"><i class="tiny material-icons left">add</i>Create</a></li>
        	<li><a href="{{url_for('users.account')}}"><i class="tiny material-icons left">account_circle</i>Account</a></li>
        	<li><a href="{{url_for('users.logout')}}"><i class="tiny material-icons left">logout</i>Logout</a></li>
        {% else %}
	        <li><a href="{{url_for('users.login')}}"><i class="tiny material-icons left">login</i>Login</a></li>
	        <li><a href="{{url_for('users.signup')}}"><i class="tiny material-icons left">how_to_reg</i>Signup</a></li>
	    {% endif %}
      </ul>
    </div>
  </nav>

<div class="card">
    <div class="card-content">
    <div class="row">
    	<div class="col s3">
      	<img class="responsive-img circle" src="{{url_for('static',filename='profile_pics/' + current_user.profile_image)}}">
      </div>
      <div class="col s9">
      	<h1>Welcome to {{ user.username }}'s page </h1>
      </div>
    </div>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#blogs">User Blogs</a></li>
      </ul>
    </div>
    <div class="card-content white">
      <div id="blogs">
      	  {% for post in blog_posts.items %}
   <div class="row">
    <div class="col s6 offset-s3">
      <div class="card white">
        <div class="card-content grey lighten-4">
          <span class="card-title"><a href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">{{post.title}}</a></span>
          <p>{{post.text}}</p>
        </div>

        <div class="card-action">
        	<div class="col s6">
        		<p>Written by : <a href="{{url_for('users.user_posts',username=post.author.username)}}">{{post.author.username}}</a></p>
        	</div>
        	<div class="col s6">
        		<p>Published on : {{post.date.strftime('%Y-%m-%d') }}</p>
        	</div>
         
        </div>
        
      </div>
    </div>
  </div>
  {% endfor %}


  <ul class="pagination">
  	{% if blog_posts.page ==1 %}
  		<li class="disabled"><a href="{{url_for('users.user_posts',username=user.username,page=blog_posts.page-1)}}"><i class="material-icons">chevron_left</i></a></li>
  	{% else %}
  		<li><a href="{{url_for('users.user_posts',username=user.username,page=blog_posts.page-1)}}"><i class="material-icons">chevron_left</i></a></li>
  	{% endif %}

  	{% for num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}	
    	{% if blog_posts.page == num %}
    		<li class="active"><a href="{{url_for('users.user_posts',username=user.username,page=num)}}">{{num}}</a></li>
    	{% else %}
    		<li class="waves-effect"><a href="{{url_for('users.user_posts',username=user.username,page=num)}}">{{num}}</a></li>
    	{% endif %}
    {% endfor %}
    <li class="waves-effect"><a href="{{url_for('users.user_posts',username=user.username,page=blog_posts.page+1)}}"><i class="material-icons">chevron_right</i></a></li>
  </ul>	
      </div>
    </div>
  </div>




{% endblock %}